%h1 Your teams

%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - teams.each do |team|
      %tr
        %td
          %h4= link_to team.name, team

%br

= link_to 'New Team', new_team_path, class: 'btn btn-success'
