.container
  .row
    .col-md-4
      = link_to 'Go to Team Card', team, class: 'btn btn-default'
    .col-md-8
      = render 'teams/draw_encounter_form'

  %h3 Treasure
  .well
    .money
      .row
        .col-md-12
          Money #{treasure.money} gp
    .treasure_description
      .row
        .col-md-12
          - treasure.items.each do |item|
            != item.full_text
