%h1 Editing character

= render 'form'

.bttn-group
= link_to 'Show', team_character_path(team, character), class: 'btn btn-default'
= link_to 'Back', team_characters_path(team), class: 'btn btn-default'
