.container {
  color: #2c3e50;
}

.draw_encounter_button {
  margin-top: 25px;
}

.team_money {
  margin-top: 25px;
}

.hr {
  border-style: solid none;
  border-width: 1px 0;
  margin-bottom: 25px;
  margin-top: 25px;
}

.element_bg {
  background-color: #95a5a6;
  margin-bottom: 15px;
}

.bottom_page {
  background-color: #34495e;
  color: white;
}

.button_margin {
  margin-top: 25px;
}

.items {
  color: white;
}

.element_list {
  color: white;
  margin-left: 15px;
}
