.draw_encounter_button {
  margin-top: 25px;
}

.team_money {
  margin-top: 25px;
}

.hr {
  border-style: solid none;
  border-width: 1px 0;
  margin-bottom: 25px;
  margin-top: 25px;
}

.character_list {
  margin-top: 25px;
}

.table_title {
  margin-bottom: 15px;
  font-weight: bold;
}
